<%= render "shared/flash_messages" %>

<h1 class="text-center mt-4">Become a worker</h1>

<%= render "form", user: @user %>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
  already have an account <%= link_to "Log in", login_path, class: "text-info" %>
  <br>
</div>
</div>
</div>